@import "../../styling/variables";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;

  .navbar_logo_search {
    display: flex;
    align-items: center;

    a {
      span {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 2rem;
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      position: relative;

      input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 0.5rem;
        font-size: 1rem;
        width: 250px;
        transition: border-color 0.3s;

        &:focus {
          border-color: #007bff;
        }
      }

      .navbar_logo_search_icon {
        font-size: 1.5rem;
        color: #555;
        cursor: pointer;
        margin-left: 8px;

        .search-dropdown {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: #fff;
          border: 1px solid #eaeaea;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 10;
          .search_result_item {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
              background-color: #f8f8f8;
            }

            .car_thumbnail {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 4px;
              margin-right: 1rem;
            }

            .car_info {
              display: flex;
              flex-direction: column;

              .car-name {
                font-weight: bold;
              }

              .car-type,
              .car-price,
              .car-transmission {
                font-size: 0.8rem;
                color: #666;
              }
            }
          }
        }
      }
    }
  }

  .navbar_user_notif {
    display: flex;
    align-items: center;

    .navbar_notif_icons {
      margin-left: 1.5rem;
      position: relative;
      cursor: pointer;

      .icon-with-badge {
        position: relative;

        .badge {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: #ff5b5b;
          color: #fff;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 0.8rem;
          font-weight: bolder;
        }
      }

      svg {
        font-size: 1.5rem;
        color: #555;
      }
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 1.5rem;
      border: 2px solid #eaeaea;
    }
  }
}
